# --------------------------------------------------------------------------
#   Goistor
#   The All-Knower
#   @updated 2025-10-13
# --------------------------------------------------------------------------

# MySQL/MariaDB
GOISTOR_MYSQL_PATH=

# PHPMyAdmin
GOISTOR_PHPMYADMIN_PASSWORD=
GOISTOR_PHPMYADMIN_PATH=
GOISTOR_PHPMYADMIN_PORT=
GOISTOR_PHPMYADMIN_URL=
GOISTOR_PHPMYADMIN_USERNAME=

# Postgres
GOISTOR_POSTGRES_PATH=

# Postgres Admin
GOISTOR_POSTGRES_ADMIN_PATH=
GOISTOR_POSTGRES_ADMIN_PORT=
GOISTOR_POSTGRES_ADMIN_URL=

# Redis
GOISTOR_REDIS_PATH=

# Redis Insight
GOISTOR_REDIS_INSIGHT_PATH=
GOISTOR_REDIS_INSIGHT_PORT=

GOISTOR_OLLAMA_PATH=
GOISTOR_OLLAMA_PORT_UI=
GOISTOR_OLLAMA_PORT=
GOISTOR_OLLAMA_URL=
